<section id="roleUpsert">
  <h1>{{ dialogTitle }}</h1>
  <form [formGroup]="role">
    <input-custom
      type="text"
      placeholder="Nome da Equipe"
      label="Coloque o nome atribuido a esta equipe"
      name="role"
      formControlName="role"
      required
      [disabled]="isShowable"
    ></input-custom>
  </form>
  <section class="roleUpsert--actions">
    <button-custom
      type="button"
      variant="transparent"
      label="Cancelar"
      (clicked)="cancel()"
    ></button-custom>

    <button-custom
      type="button"
      variant="primary"
      [label]="dialogTitle"
      [disabled]="!role.valid"
      *ngIf="!isShowable"
      (clicked)="submit()"
    ></button-custom>
  </section>
</section>
