$tropaz: #3d5a80ff;
$cornflower: #98c1d9ff;
$tranquil: #e0fbfcff;
$burnt-sienna: #ee6c4dff;
$big-stone: #293241ff;
$victoria: #574b90;
$green: #10ac84;

$themeColors: (
  "tropaz": (
    "50": #f5f7fa,
    "100": #eaeef4,
    "200": #cfd9e8,
    "300": #a6bbd3,
    "400": #7595bb,
    "500": #5479a3,
    "600": #3d5a80,
    "700": #354d6f,
    "800": #2f435d,
    "900": #2b3a4f,
    "950": #1d2634,
  ),
  "cornflower": (
    "50": #f4f8fb,
    "100": #e8eff6,
    "200": #cbdfec,
    "300": #98c1d9,
    "400": #6aa6c6,
    "500": #478bb0,
    "600": #357094,
    "700": #2c5978,
    "800": #284c64,
    "900": #254155,
    "950": #192b38,
  ),
  "tranquil": (
    "50": #edfefe,
    "100": #e0fbfc,
    "200": #abf2f6,
    "300": #71e6ef,
    "400": #30d1e0,
    "500": #15b5c5,
    "600": #1491a6,
    "700": #177587,
    "800": #1c5e6e,
    "900": #1b4f5e,
    "950": #0c3440,
  ),
  "burnt-sienna": (
    "50": #fef4f2,
    "100": #fee7e2,
    "200": #fdd5cb,
    "300": #fbb6a6,
    "400": #f78c72,
    "500": #ee6c4d,
    "600": #da4a28,
    "700": #b73b1e,
    "800": #98341c,
    "900": #7e301e,
    "950": #44160b,
  ),
  "big-stone": (
    "50": #f5f7fa,
    "100": #ebeef3,
    "200": #d2d9e5,
    "300": #abbace,
    "400": #7d94b3,
    "500": #5d779a,
    "600": #495f80,
    "700": #3c4d68,
    "800": #344258,
    "900": #293241,
    "950": #1f2532,
  ),
  "victoria": (
    "50": #f2f3fb,
    "100": #e7e9f8,
    "200": #d3d5f2,
    "300": #b7baea,
    "400": #9c9adf,
    "500": #8881d3,
    "600": #7768c3,
    "700": #6657ab,
    "800": #574b90,
    "900": #46406f,
    "950": #2a2541,
  ),
  "royal-blue": (
    "50": #eef6ff,
    "100": #e0eeff,
    "200": #c8defd,
    "300": #a6c8fb,
    "400": #82a8f7,
    "500": #6588ef,
    "600": #546de5,
    "700": #3a51c8,
    "800": #3144a2,
    "900": #2f3f80,
    "950": #1c254a,
  ),
  "waterloo": (
    "50": #f5f7f8,
    "100": #edeff2,
    "200": #dde2e8,
    "300": #c8cfd9,
    "400": #b1b8c8,
    "500": #9ca3b8,
    "600": #868ba5,
    "700": #7d8197,
    "800": #5e6175,
    "900": #50535f,
    "950": #2e2f38,
  ),
);

:root {
  @each $color, $shades in $themeColors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
}

@function getColor($color, $shade) {
  @return var(--#{$color}-#{$shade});
}
