<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="./logo/logo_royal.svg" alt="logo icon">
      Alicerce
    </div>
    <div class="footer-copyright">
      <span>© {{ currentYear }} Alicerce. Todos os direitos reservados. Desenvolvidor Por Gustavo Souza</span>
    </div>
    <div class="footer-social">
      <a href="https://www.instagram.com/alicerce.pro?igsh=MWZhYnc2aWhpcjB0 " target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/alicerce-pro/" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</footer>
