.action-priority {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .action-priority--title {
    color: var(--waterloo-800);
    font-weight: 500;
    font-family: "Figtree", system-ui;
  }

  .action-priority--circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bg);
  }
}
