#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  p {
    width: 60%;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  .cta--actions {
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  #cta {
    p {
      width: 90dvw !important;
    }
  }
}