<section id="l-menu">
  <div class="logo">
    <img [src]="'logo/logo_royal.svg'" alt="logo" />
    <span class="logo">Alicerce</span>
  </div>

  <nav class="list desktop">
    <ul class="list-container">
      <li><a (click)="redirectToSection('landing')">Inicio</a></li>
      <li><a (click)="redirectToSection('diff')">Diferenciais</a></li>
      <li><a (click)="redirectToSection('about')">Sobre</a></li>
      <li><a (click)="redirectToSection('feedback')">Feedbacks</a></li>
      <!-- <li><a (click)="redirectToSection('prices')">Preços</a></li> -->
      <li><a (click)="redirectToSection('faq')">FAQ</a></li>
      <li><a (click)="redirectToSection('contact')">Contato</a></li>
    </ul>
  </nav>

  <div class="menu-icon" (click)="toggleMenu()">
    <img src="./icons/menu.svg" alt="" />
  </div>

  <div class="mobile-menu" [class.open]="menuOpen">
    <div class="close" (click)="toggleMenu()">
      <i class="fa-solid fa-times"></i>
    </div>
    <ul class="list-container">
      <li><a (click)="redirectToSection('landing')">Inicio</a></li>
      <li><a (click)="redirectToSection('diff')">Diferenciais</a></li>
      <li><a (click)="redirectToSection('about')">Sobre</a></li>
      <li><a (click)="redirectToSection('feedback')">Feedbacks</a></li>
      <!-- <li><a (click)="redirectToSection('prices')">Preços</a></li> -->
      <li><a (click)="redirectToSection('faq')">FAQ</a></li>
      <li><a (click)="redirectToSection('contact')">Contato</a></li>
    </ul>
  </div>

  <div class="actions" [class.float--actions]="menuOpen">
    <button-custom
      type="button"
      label="Solicitar acesso antecipado"
      size="sm"
      (clicked)="emitEnded()"
      style="width: max-content"
    ></button-custom>
  </div>
</section>
