<div class="budget-card--container" (click)="onclick.emit(true)">
  <ng-container *ngIf="type === 'add'; else budgetCards">
    <section class="budget-card-add" [tipseen]="tipseen">
      <i class="fa-solid fa-plus"></i>
    </section>
  </ng-container>

  <ng-template #budgetCards>
    <section class="budget-card border" [ngClass]="type" style="--card-color: {{ color }}">
      <section class="budget-card--content">
        <span>{{ label }}</span>
        <h1>{{ budget | currency : "R$ " }}</h1>
      </section>
    </section>
  </ng-template>
</div>
