<div class="contact-container" id="contact">
  <h2>Entre em contato com nossa equipe</h2>
  <p>
    Tire dúvidas, envie sugestões ou fale sobre sua necessidade. Estamos prontos
    para ajudar e construir soluções com você.
  </p>
  <form class="contact-form" [formGroup]="contact" (ngSubmit)="onSubmit()">
    <input-custom
      type="text"
      placeholder="Digite seu nome"
      name="name"
      label="Nome"
      formControlName="name"
      required
    ></input-custom>
    <input-custom
      type="phone"
      label="Telefone"
      placeholder="(00) 00000-0000"
      name="phone"
      formControlName="phone"
      required
    ></input-custom>
    <input-custom
      type="email"
      placeholder="exemlo@gmail.com"
      name="email"
      label="E-mail"
      formControlName="email"
      required
    ></input-custom>
    <select-custom
      [label]="'Onde você nos conheceu?'"
      [source]="{
        data: [
          { label: 'Google', value: 'google' },
          { label: 'Facebook', value: 'facebook' },
          { label: 'Instagram', value: 'instagram' },
          { label: 'LinkedIn', value: 'linkedin' },
          { label: 'Indicação', value: 'indication' },
          { label: 'Outros', value: 'others' }
        ],
        keys: {
          display: 'label',
          value: 'value',
        }
      }"
      formControlName="origin"
    ></select-custom>
    <textarea-custom
      placeholder="Descreva sua mensagem"
      name="message"
      label="Mensagem"
      formControlName="message"
    ></textarea-custom>
    <button-custom
      type="submit"
      label="Enviar"
      [disabled]="!contact.valid"
      style="width: 100%"
    ></button-custom>
  </form>
</div>
