<section id="hero">
  <h1 class="hero--title ">Gerencie Obras e Projetos de Construção com Máxima Eficiência</h1>
  <p>
    Organize orçamentos, tarefas, documentos e validações em um só lugar.
    Transforme a gestão da sua obra com tecnologia criada para a construção
    civil.
  </p>
  <button-custom
    type="button"
    label="Solicitar acesso antecipado"
    size="lg"
    (clicked)="emitEnded()"
    style="width: max-content"
  ></button-custom>

  <div class="hero--computer">
    <div class="hero--computer-c">
        <img [src]="'action_plan.PNG'" alt="hero" />
    </div>
  </div>
</section>
