<section id="register">
  <section class="register--content">
    <section class="register--logo">
      <img [src]="'logo/logo_royal.svg'" alt="" />
      <span class="logo--label">Alicerce</span>
    </section>
    <section class="register--form-hero">
      <section class="register--hero">
        <h1>Bem-vindo a Alicerce</h1>
        <p>A construção do futuro começa com uma boa gestão.</p>
      </section>
      <section class="register--form">
        <form [formGroup]="form">
          <input-custom
            type="text"
            placeholder="Nome"
            name="username"
            formControlName="username"
            required
          ></input-custom>
          <input-custom
            type="email"
            placeholder="exemplo@gmail.com"
            name="email"
            formControlName="email"
            required
          ></input-custom>
          <input-custom
            type="password"
            placeholder="Senha"
            name="password"
            formControlName="password"
            required
          ></input-custom>
          <input-custom
            type="password"
            placeholder="Confirme a Senha"
            name="confirmPassword"
            formControlName="confirmPassword"
            required
          ></input-custom>
          <ng-container
            *ngIf="confirmPasswordHasError && passwordHasData &&!!form.errors?.['passwordsMismatch'] "
            [ngTemplateOutlet]="errorPasswordNotMatch"
          ></ng-container>
          <div
            class="register--form-strong-password"
            style="--password-score-color: {{
              passwordMedByScore.color
            }}; --password-score-width: {{ passwordScore }}%"
          >
            <span>Sua senha é forte?</span>
            <div class="register--form-strong-password-med"></div>
            <p class="register--form-strong-password-label">
              {{ passwordMedByScore.label }}
            </p>
          </div>
          <input-custom
            type="text"
            placeholder="Nome da Empresa"
            name="companyName"
            formControlName="companyName"
            required
          ></input-custom>
          <input-custom
            type="cpf-cnpj"
            placeholder="CPF ou CNPJ"
            name="document"
            formControlName="document"
            required
          ></input-custom>

          <button-custom
            type="button"
            label="Registrar"
            (clicked)="submit.emit(true)"
          ></button-custom>

          <span class="confirm-term"
            >Ao continuar, você concorda com os
            <a routerLink="/account/login">Termos de serviço</a> e
            <a routerLink="/account/login">Políticas de privacidade</a></span
          >
        </form>
      </section>
    </section>
    <section class="register--without-account">
      <span>Ja possui uma conta?</span>
      <a routerLink="/account/login">Entrar</a>
    </section>
    <section class="register--footer">
      <p>© 2021 Alicerce. Todos os direitos reservados.</p>
    </section>
  </section>
  <section class="register--img">
    <img [src]="'constructor.jpg'" alt="" />
  </section>
</section>

<ng-template #errorPasswordNotMatch>
  <div class="error-message" @errorAnimation>As senhas não coincidem</div>
</ng-template>
