<main id="landing" class="lading--content">
  <menu-ui  (callToEnded)="emitCallToAction()" />
  <section class="landing--l">
    <hero-ui (callToEnded)="emitCallToAction()" />
    <diff-ui class="lading--content" />
    <cta-ui class="lading--content" (callToEnded)="emitCallToAction()" />
    <services-ui class="lading--content" />
    <social-proof-ui class="lading--content" />
    <cta-hero-ui class="lading--content" (callToEnded)="emitCallToAction()" />
    <pricing-plans-ui class="lading--content" />
    <faq-ui class="lading--content" />
    <contact-ui class="lading--content" />
    <footer-ui class="lading--content" />
  </section>
  <scroll-to-top></scroll-to-top>
</main>
