<section id="collaboratorInvite">
  @if(isEdit) {
  <h1>Editar equipe do colaborador</h1>
  } @else {
  <h1>Convidar novo colaborador</h1>
  }
  <form [formGroup]="client">
    <small *ngIf="!isEdit">
      Por favor, insira o endereço de e-mail do colaborador que você deseja
      convidar para a equipe.
    </small>
    <small *ngIf="isEdit">
      Cada colaborador é responsável por sua própria conta, isso inclui
      informações pessoais e acesso ao sistema.
    </small>
    <select-custom
      [source]="{
        api: {
          method: 'GET',
          url: 'roles',
        },
        keys: {
          display: 'name',
          value: 'id',
        }
      }"
      formControlName="role"
    ></select-custom>

    <input-custom
      type="email"
      placeholder="Email"
      name="email"
      formControlName="email"
      required
      *ngIf="!isEdit"
    ></input-custom>
  </form>
  <section class="collaboratorInvite--actions">
    <button-custom
      type="button"
      variant="primary"
      [label]="isEdit ? 'Alterar Equipe' : 'Convidar'"
      [disabled]="!client.valid"
      (clicked)="submit()"
    ></button-custom>
  </section>
</section>
