<div id="menu">
  @for(item of menu; track item) {
  <label
    [class]="itemClass(item)"
    [ngClass]="{ 'menu--option-activated': currentPatch() == item.path }"
    (click)="handleClick(item.path)"
    *ngIf="item.state == 'activated'"
  >
    <img src="./icons/{{ item.icon }}" alt="{{ item.title }}" />
    <span>{{ item.title }}</span>
    <input
      type="radio"
      name="menu-option"
      [style.display]="'none'"
      [value]="item.path"
      (change)="handleClick(item)"
    />
  </label>
  }

  <ng-container *ngIf="isAdmin" [ngTemplateOutlet]="admin"></ng-container>
</div>

<ng-template #admin>
  @for(item of adminMenu; track item) {
  <label
    [class]="itemClass(item)"
    [ngClass]="{ 'menu--option-activated': currentPatch() == item.path }"
    (click)="handleClick(item.path)"
    *ngIf="item.state == 'activated'"
  >
    <img src="./icons/{{ item.icon }}" alt="{{ item.title }}" />
    <span>{{ item.title }}</span>
    <input
      type="radio"
      name="menu-option"
      [style.display]="'none'"
      [value]="item.path"
      (change)="handleClick(item)"
    />
  </label>
  }
</ng-template>
