#dialog {
  width: 45dvw;
  height: 100dvh;
  position: fixed;
  z-index: 10;
  right: -100dvw;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--big-stone-100);
  padding: 1rem;
  transition: 500ms ease-in-out;

  &.dialog--open {
    right: 10px;
  }
}
