<body id="nav">
  <aside class="nav--aside">
    <section class="nav--aside-menu">
      <section class="nav--aside-menu-logo">
        <img [src]="'logo/logo_royal.svg'" alt="logo" />
        <span class="menu-logo">Alicerce PRO</span>
      </section>
      <ng-content select="[nav-aside-menu]"></ng-content>
    </section>
  </aside>
  <section class="nav--content border">
    <ng-content select="[nav-top-bar]"></ng-content>
    <ng-content select="[nav-hero-bar]"></ng-content>
    <section class="nav--content-body">
      <router-outlet></router-outlet>
    </section>
  </section>
</body>
