<section id="detail">
  <section class="detail--container">
    <section class="detail--hero">
      <section class="detail--info">
        <h1>{{ projectName }}</h1>
        <span
          class="status"
          style="--card-status-color: {{ project?.project_status.color }}"
          >{{ project?.project_status.name }}</span
        >
      </section>
      <section class="detail--info-grid">
        <div class="budget-summary">
          <div class="card border">
            <span>Orçamento Total</span>
            <p>{{ project?.budget | currency : "R$ " }}</p>
          </div>
          <div class="card border">
            <span>Gasto Real</span>
            <p>{{ totalActual | currency : "R$ " }}</p>
          </div>
          <div class="card border">
            <span>Gasto Estimado</span>
            <p>{{ totalEstimated | currency : "R$ " }}</p>
          </div>
          <div class="card border">
            <span>Gasto Real Estimado</span>
            <p>{{ totalActualEstimated | currency : "R$ " }}</p>
          </div>
        </div>
      </section>
    </section>
    <section class="detail-project--body">
      <section class="detail--content detail--content__container">
        <ng-container *ngTemplateOutlet="itemsTemplateRef"></ng-container>
        <!-- <comments></comments> -->
      </section>
      <section class="detail--actions detail--content__container">
        <ng-content select="[project-actions-button]"></ng-content>
        
        <section class="detail--info-grid-item">
          <div class="detail--info__project_detail">
            <span class="label"
              ><img src="./icons/Info.svg" alt="Responsável" />Responsável</span
            >
            <span class="data">{{ project?.users?.username }}</span>
          </div>
          <div class="detail--info__project_detail">
            <span class="label"
              ><img src="./icons/Calendar.svg" alt="Calendario data inicio" />
              Data de início</span
            >
            <span class="data">{{
              project?.init_date | date : "MMM dd, yyyy" : "UTC"
            }}</span>
          </div>
          <div class="detail--info__project_detail">
            <span class="label"
              ><img src="./icons/My week.svg" alt="Calendario data inicio" />
              Data de término</span
            >
            <span class="data">{{
              project?.end_date | date : "MMM dd, yyyy" : "UTC"
            }}</span>
          </div>
          <!-- <div class="detail--info__project_detail">
            @if (!project?.budget) {
            <ng-content select="[project-detail-budget]"></ng-content>
            } @else {
            <span class="data budget">{{
              project?.budget | currency : "R$"
            }}</span>
            }
            <span class="label"
              ><img src="./icons/Upgrade.svg" alt="Calendario data inicio" />
              Orçamento:</span
            >
          </div> -->
          <div class="detail--info__project_detail">
            <span class="label"
              ><img src="./icons/Person.svg" alt="Client" /> Cliente</span
            >
            <span class="data">{{ project?.clients?.name }}</span>
          </div>
        </section>
        <div class="progress-wrapper">
          <h2>Progresso:</h2>

          <div class="progress-bar">
            <div
              class="progress-fill"
              [style.width.%]="progressPercentage"
              [attr.aria-valuenow]="progressPercentage"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <section>
          <h2>Descrição</h2>
          <p class="description" [@toggleDescription]>
            {{ showFullDescription ? project?.description : shortDescription }}
            <button
              *ngIf="project?.description?.length > 255"
              (click)="toggleDescription()"
            >
              {{ showFullDescription ? "Ver menos" : "Ver mais" }}
            </button>
          </p>
        </section>
        <ng-content select="[collaborators-list]"></ng-content>
      </section>
    </section>
  </section>
</section>

<ng-template #itemsTemplateRef>
  <section class="detail--items-action">
    <ng-content select="[project-detail-actions]"></ng-content>
  </section>

  <section class="detail-status--list">
    <section class="detail--status" *ngFor="let status of itemAgroupedByStatus">
      <section
        class="detail--status-header"
        style="--card-status-color: {{
          STATUS_DICTIONARY[status.status].color
        }}"
      >
        <div class="detail--status-header-title">
          <h2>{{ STATUS_DICTIONARY[status.status].label }}</h2>
          <span class="status-count">
            {{ status.items.length }}
            {{ status.items.length > 1 ? "itens" : "item" }} /
            {{ totalSubitems(status.items) }}
            {{ totalSubitems(status.items) > 1 ? "subitems" : "subitem" }}
          </span>
        </div>
      </section>
      <section class="detail--status-body">
        <section class="detail--status-body-list">
          <section
            class="detail--item border"
            *ngFor="let item of status.items"
            (click)="openItemDetailDialog(item)"
          >
            <div class="detail--item__info-title">
              <h2>{{ item.name }}</h2>
              <span class="date">
                {{ item.start_date | date : "MMM dd, yyyy" : "UTC" }} →
                {{ item.end_date | date : "MMM dd,yyyy" : "UTC" }}
              </span>
            </div>

            <div class="detail--item__tags">
              <span class="tag tag--responsible">
                <img src="./icons/Mention.svg" alt="Check" />
                {{ item.users?.username }}
              </span>

              <span
                class="tag tag--category"
                [ngStyle]="{
                  backgroundColor:
                    CATEGORY_DICTIONARY[item.category].color + '30',
                  color: CATEGORY_DICTIONARY[item.category].color
                }"
              >
                {{ CATEGORY_DICTIONARY[item.category].label }}
              </span>
            </div>

            <p class="description">{{ item.description }}</p>

            <div class="progress-wrapper">
              <h2>Progresso:</h2>

              <div class="progress-bar">
                <div
                  class="progress-fill"
                  [style.width.%]="calculatePercentage(item?.subitems)"
                  [attr.aria-valuenow]="calculatePercentage(item?.subitems)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </section>
        </section>
      </section>
    </section>
  </section>
</ng-template>
