<section id="detail">
  <section class="detail--container">
    <section class="detail--hero border">
      <section class="detail--info">
        <h1>{{ projectName }}</h1>
      </section>
      <section class="detail--info-grid">
        <section class="detail--info-grid-item">
          <div class="detail--info__project_detail">
            <span class="label"
              ><img src="./icons/Calendar.svg" alt="Calendario data inicio" />
              Data de início:</span
            >
            <span class="data">{{
              project?.init_date | date : "dd/MM/yyyy" : "UTC"
            }}</span>
          </div>
          <div class="detail--info__project_detail">
            <span class="label"
              ><img src="./icons/My week.svg" alt="Calendario data inicio" />
              Data de término:</span
            >
            <span class="data">{{
              project?.end_date | date : "dd/MM/yyyy" : "UTC"
            }}</span>
          </div>
          <div class="detail--info__project_detail">
            <span class="label"
              ><img src="./icons/Upgrade.svg" alt="Calendario data inicio" />
              Orçamento:</span
            >
            @if (!project?.budget) {
            <ng-content select="[project-detail-budget]"></ng-content>
            } @else {
            <span class="data budget">{{
              project?.budget | currency : "R$"
            }}</span>
            }
          </div>
          <div class="detail--info__project_detail">
            <span class="label"
              ><img src="./icons/Person.svg" alt="Client" /> Cliente:</span
            >
            <span class="data">{{ project?.clients?.name }}</span>
          </div>
          <div class="detail--info__project_detail">
            <span class="label"
              ><img
                src="./icons/Info.svg"
                alt="Responsável"
              />Responsável:</span
            >
            <span class="data">{{ project?.users?.username }}</span>
          </div>
        </section>
        <section class="detail--info-grid-item">
          <h2>Descrição</h2>
          <p class="description" [@toggleDescription]>
            {{ showFullDescription ? project?.description : shortDescription }}
            <button
              *ngIf="project?.description?.length > 255"
              (click)="toggleDescription()"
            >
              {{ showFullDescription ? "Ver menos" : "Ver mais" }}
            </button>
          </p>
        </section>
      </section>
    </section>
    <section class="detail--actions">
      <ng-content select="[project-detail-actions]"></ng-content>
    </section>
    <section class="detail--content">
      <ng-container *ngTemplateOutlet="itemsTemplateRef"></ng-container>
      <comments></comments>
    </section>
  </section>
</section>

<ng-template #itemsTemplateRef>
  <section class="detail--items__container">
    <section class="detail--item" *ngFor="let item of items">
      <section class="detail--item__info">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <span class="date">
          {{ item.start_date | date : "dd/MM/yyyy" : "UTC" }} →
          {{ item.end_date | date : "dd/MM/yyyy" : "UTC" }}
        </span>
        <div class="detail--item__tags">
          <span class="tag tag--responsible">
            <img src="./icons/Mention.svg" alt="Check" />
            {{ item.users?.username }}
          </span>

          <span
            class="tag tag--category"
            [ngStyle]="{
              backgroundColor: CATEGORY_DICTIONARY[item.category].color + '30',
              color: CATEGORY_DICTIONARY[item.category].color
            }"
          >
            {{ CATEGORY_DICTIONARY[item.category].label }}
          </span>

          <span
            class="tag tag--status"
            [ngStyle]="{
              backgroundColor: STATUS_DICTIONARY[item.status].color + '30',
              color: STATUS_DICTIONARY[item.status].color
            }"
          >
            {{ STATUS_DICTIONARY[item.status].label }}
          </span>
        </div>
      </section>
      <section class="detail--item__tap">
        <section class="detail--item__actions">
          <ng-container
            *ngTemplateOutlet="subItemTemplate; context: { $implicit: item.id }"
          ></ng-container>

          <div
            class="detail--item__button"
            (click)="openItemDetailDialog(item)"
          >
            <img src="./icons/Workspace.svg" alt="Check" />
          </div>
        </section>

        <section class="detail--item__budgets">
          <span class="detail--item__budgets__actual_cost">
            {{ item.actual_cost | currency : "R$" }}
          </span>
          <span>/</span>
          <span class="detail--item__budgets__budget">
            {{ item.budget | currency : "R$" }}
          </span>
        </section>
      </section>
    </section>
  </section>
</ng-template>
