<section id="home">
  <section class="home--hero">
    <p>Bem vindo de volta, Manager!</p>
    <span>Facil acesso aos seus projetos, atividades e relatórios.</span>
  </section>
  <section class="home--content">
    <section class="home--avoid">
      <!-- <section class="home--menu-modules">
        <ng-content select="[home-modules]"></ng-content>
      </section> -->
      <section class="home--projects">
        <ng-content select="[home-recentely-project]"></ng-content>
      </section>
    </section>
    <section class="home--recentely"></section>
  </section>
</section>
