#item--detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  overflow-y: auto;

  .detail--item__info {
    display: flex;
    flex-direction: column;

    .detail--info {
      display: grid;
      grid-template-columns: 130px 1fr;
      color: var(--waterloo-600);
      font-size: 0.9rem;
      gap: 0.5rem;

      div {
        display: grid;
        align-items: center;
        grid-template-columns: 30px 1fr;
        font-size: 0.9rem;
        color: var(--waterloo-600);

        img {
          position: relative;
        }
      }
    }

    h2 {
      font-size: 1.5rem;
      color: var(--waterloo-800);
    }
    p {
      font-size: 1rem;
      color: var(--waterloo-600);
    }

    .detail--item__tags {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 0.5rem;
    }

    .date {
      font-size: 1rem;
      color: var(--waterloo-600);
      margin-top: 0.5rem;
      font-family: "Poppins", sans-serif;
    }
  }

  .detail--item__budget {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    margin: 1rem 0 0;

    .detail--item__budgets {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      background: var(--big-stone-100);
      border-radius: 6px;

      small {
        font-size: 0.8rem;
        color: var(--waterloo-600);
      }

      h2 {
        font-size: 1.5rem;
        color: var(--waterloo-800);
      }
    }
  }

  .detail--item__actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .detail--item__subitems {
    display: flex;
    height: max-content;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    .detail--item__subitems-table {
      width: 100%;
      overflow-x: auto;
      padding: 0 0 1rem;

      &::-webkit-scrollbar {
        height: 5px;
        background-color: var(--royal-blue-500);
        border-radius: 12px;
      }

      .detail--item__subitems-table-over {
        table {
          min-width: 600px;
          border-collapse: collapse;
        }
      }
    }
  }

  .tag {
    width: max-content;
    background-color: var(--waterloo-100);
    padding: 0.2rem 1rem;
    border-radius: 24px;
    font-size: 0.9rem;
    text-align: start;
    color: var(--waterloo-600);

    &.tag--responsible {
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 0.2rem 0.5rem;
      gap: 0.5rem;
    }
  }

  .description-caption {
    font-size: 0.9rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--waterloo-800);
    background-color: var(--big-stone-100);
    margin-top: 1rem;
    gap: 0.5rem;
    border-radius: 6px;

    .description {
      font-size: 0.9rem;
      color: var(--waterloo-800);
      margin-top: 0.5rem;
      font-family: "Poppins", sans-serif;
    }
  }
}

.item--detail-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  color: var(--waterloo-800);

  button-custom {
    width: max-content;
  }
}

.detail--info--action {
  display: flex;
  color: var(--waterloo-600);
  font-size: 0.9rem;
  gap: 0.5rem;
  margin-top: 1rem;
}
