<section id="item--detail">
  <section class="detail--item__info">
    <h2>{{ item.name }}</h2>

    <div class="detail--item__tags">
      <div class="detail--info">
        <div>
          <img src="./icons/Calendar.svg" alt="Calendario data inicio" />Data
        </div>
        <span class="date">
          {{ item.start_date | date : "MMM dd, yyyy" : "UTC" }} →
          {{ item.end_date | date : "MMM dd,yyyy" : "UTC" }}
        </span>
      </div>
      <div class="detail--info">
        <div><img src="./icons/Info.svg" alt="Responsável" />Responsável</div>
        <span class="tag tag--responsible">
          <img src="./icons/Mention.svg" alt="Check" />
          {{ item.users?.username }}
        </span>
      </div>
    </div>

    <div class="description-caption">
      <div class="detail--info">
        Status
        <span
          class="tag tag--status"
          [ngStyle]="{
            backgroundColor: STATUS_DICTIONARY[item.status].color + '30',
            color: STATUS_DICTIONARY[item.status].color
          }"
        >
          {{ STATUS_DICTIONARY[item.status].label }}
        </span>
      </div>

      <div class="detail--info">
        Categoria
        <span
          class="tag tag--category"
          [ngStyle]="{
            backgroundColor: CATEGORY_DICTIONARY[item.category].color + '30',
            color: CATEGORY_DICTIONARY[item.category].color
          }"
        >
          {{ CATEGORY_DICTIONARY[item.category].label }}
        </span>
      </div>
      <div class="detail--info">
        Descrição
        <p class="description">{{ item.description }}</p>
      </div>
    </div>
  </section>
  <section class="detail--item__budget">
    <div class="detail--item__budgets detail--item__budgets__actual_cost">
      <small>Gasto atual:</small>
      <h2>{{ actualCost | currency : "R$" }}</h2>
    </div>
    <div class="detail--item__budgets detail--item__budgets__actual_cost">
      <small>Gasto estimado atual:</small>
      <h2>{{ estimatedCost | currency : "R$" }}</h2>
    </div>
    <div class="detail--item__budgets detail--item__budgets__budget">
      <small>Orçamento:</small>
      <h2>{{ item.budget | currency : "R$" }}</h2>
    </div>
  </section>
  <section class="detail--item__subitems">
    <h3>Subitens</h3>
    <ng-content select="[item-actions]"></ng-content>
    <subitem-list [subitems]="subitems"></subitem-list>
  </section>
  <section class="detail--item__comments">
    <ng-content select="[item-comments]"></ng-content>
  </section>
</section>
