<div class="beta-container">
  <h1 class="title">O acesso ao beta foi encerrado 😢</h1>
  <p class="subtitle">
    Mas você ainda pode se cadastrar para receber novidades e garantir acesso
    antecipado no lançamento oficial!
  </p>

  <form class="lead-form" [formGroup]="betaEndedForm">
    <input-custom
      type="text"
      placeholder="Digite seu nome"
      name="name"
      label="Nome"
      formControlName="name"
      required
    ></input-custom>

    <input-custom
      type="email"
      placeholder="exemlo@gmail.com"
      name="email"
      label="E-mail"
      formControlName="email"
      required
    ></input-custom>
  </form>
  <section class="button-container">
    <button-custom
      type="button"
      label="Enviar"
      (clicked)="onSubmit()"
      [disabled]="!betaEndedForm.valid"
      style="width: 100%"
    ></button-custom>
    <button-custom
      type="button"
      label="Fechar"
      variant="transparent"
      (clicked)="onClose()"
      style="width: 100%"
    ></button-custom>
  </section>
</div>
