#createProjectDialog {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h1 {
    font-size: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .createProjectDialog--address {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    legend {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--big-stone-600);
      margin-bottom: 0.5rem;
      padding: 0 0.5rem;
    }

    .createProjectDialog--address-street-number {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1rem;
    }

    .createProjectDialog--address-zip-city {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }
  }


  .createProjectDialog--dates {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0.7rem;
    align-items: center;

    img {
      margin-top: 1.4rem;
    }
  }

  .createProjectDialog--actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
